/*-- Colors --*/
:root {
	--Dark: #2f3439;
	--Mid: #353a41;
	--Light: #3f454c;
	--White: #fffde8;
	--Highlight1: #f7a458;
	--Highlight2: #6ad5ec;
	--Highlight3: #6aec92;
	--Highlight2-Dark: #55a7b9;
}

* {
	color: var(--White);
}
.orange, .blue, .green, .full, .submit, .fa-solid {
	color: var(--Dark);		
}
.fa-house, .fa-rocket, .location > * {
	color: var(--Highlight1);
}
body {
	background: var(--Dark);	
}
.label, .slot {
	background: var(--Light);
}
.orange {
	background: var(--Highlight1) 50%;	
}
.blue, .full {
	background: var(--Highlight2);
}
.green, .submit {
	background: var(--Highlight3);
}
.day-content, .details {
	background: var(--Mid);
}
.full {
	opacity: 20%;	
}
a {
	text-decoration: none;
}

/*-- Fonts --*/
@font-face  {
	font-family: "MiraimLibre";
	src: url("assets/fonts/MiriamLibre-Bold.ttf") format("opentype");
}
@font-face  {
	font-family: "Hand";
	src: url("assets/fonts/OS_Luizi Round-FFC.otf") format("opentype");
}
* {
	text-align: center;
	font-family: 'MiraimLibre';
	font-size: 1.1rem;
	direction: rtl;
}
.green, .day-label *, .details *, .time  {
	font-size: 1rem;
}
h2 {
	position: relative;
	display: inline-block;
}
.location i {
	position: absolute;
	right: -28px;
	top: 3px;
}
h1 {
	font-size: 1.3rem;
	font-weight: normal;
}
h2 {
	font-weight: normal;
	line-height: 2rem;
}
header {
	margin-top: 50px;	
}
.time span {
	font-size: .3rem;
	vertical-align: top;
}
.details *  {
	text-align: right;
}
.details > p {
	line-height: 1.6;
}
.signed {
	margin-left: 5px;
}



/*-- Alignment --*/
* {
	padding: 0;
	margin: 0;
/*	border: 1px solid; */
}
.pill {
	display: inline-block;
	padding: 2px 9px 1px 9px;
	line-height: 25px;
	text-align: center;
}
#wrapper {
	margin: 0 auto;
	padding: 10px 10px 20px 10px;
	max-width: 600px;
	min-width: 355px;
}
section {
	margin: 30px auto 0;
}
.day, .day-content, .slot, .activity, .name, .label, .details {
	display: flex;	
	gap: 12px	 
}
.label, .activity, .name {
	flex-direction: row;	
}
.label {
	display: inline-block;
}
.label > * {
	display: inline-block;
}
.day-label {
	padding-right: 0;
}
.progress-label {
	padding: 0 10px 0 0;
}
.day-label {
	padding: 0 0 0 12px;
}
.signup {
	margin-right: 5px;
}
.day, .day-content, .slot, .details {
	 flex-direction: column;
}
.day {
	align-items: flex-start;
}
.day-content, .slot, .details, .pill {
	border-radius: 15px;
}
.slot {
	align-items: flex-start;
	justify-content: space-between;
	padding: 10px;
	gap: 0;
}
.day-content, .activity, .name {
	width: 100%;	
}
.name {
	justify-content: flex-start;
}
.fa-rocket {
	padding-top: 4px;
}
.fa-house {
	margin-top: 2px;
}
.fa-plus, .fa-minus {
	font-size: 15px;
}
.time {
	width: 110px;
	text-align: right;
	padding-right: 5px;
	margin-top: 3px;
}
.details {
	padding: 20px;
	margin-top: 10px;
}
.content-container {
	transition: max-height 0.3s ease-in-out;
	overflow: hidden;
}

/*-- Progress --*/
.progress {
	width: 50px;
	color: var(--Dark);	
	backgroung: var(--highlight2-Dark);
}
.filled {
	background: var(--higlight2);
	}
.progress25 {
	background:  linear-gradient(to right, var(--Highlight2) 25%, var(--Highlight2-Dark) 0);	
}
.progress50 {
	background:  linear-gradient(to right, var(--Highlight2) 50%, var(--Highlight2-Dark) 0);	
}
.progress75 {
	background:  linear-gradient(to right, var(--Highlight2) 75%, var(--Highlight2-Dark) 0);	
}
.progress100 {
	background:  linear-gradient(to right, var(--Highlight2) 100%, var(--Highlight2-Dark) 0);	
}

/*-- Singup Arrow --*/
.details-label-container {
	position: relative;
}
.details-label {
	position: absolute;
	font-size: 1.2rem;
	top: -50px;
	right: -75px;
	color: var(--Highlight2);
	font-family: 'Hand';
}
.fa-share {
	position: absolute;
	top: 10px;
	right: 103px;
	transform: rotate(-110deg) scaleX(-1);
	color: var(--Highlight2);
}
